name: "ml_saeb"

feature_definition:
  use_norm_features: False # whether to use normalized features
  empty_feature_filtering_th: 0.9 # remove features based on a threshold
  include_device_type: False # whether to include device type in the feature matrix
  # Feature used in the paper (a subset that is compatible within the dataset)
  feature_list: [
            "f_loc:phone_locations_doryab_loglocationvariance:allday",
            "f_loc:phone_locations_doryab_numberofsignificantplaces:allday",
            "f_loc:phone_locations_doryab_locationentropy:allday",
            "f_loc:phone_locations_doryab_normalizedlocationentropy:allday",
            "f_loc:phone_locations_barnett_hometime:allday",
            "f_loc:phone_locations_barnett_circdnrtn:allday",
            "f_loc:phone_locations_doryab_movingtostaticratio:allday",
            "f_loc:phone_locations_barnett_disttravelled:allday",
            "f_screen:phone_screen_rapids_sumdurationunlock:allday",
            "f_screen:phone_screen_rapids_countepisodeunlock:allday",
        ]
  feature_list_more_feat_types: [
            "f_loc:phone_locations_doryab_loglocationvariance:allday",
            "f_loc:phone_locations_doryab_numberofsignificantplaces:allday",
            "f_loc:phone_locations_doryab_locationentropy:allday",
            "f_loc:phone_locations_doryab_normalizedlocationentropy:allday",
            "f_loc:phone_locations_barnett_hometime:allday",
            "f_loc:phone_locations_barnett_circdnrtn:allday",
            "f_loc:phone_locations_doryab_movingtostaticratio:allday",
            "f_loc:phone_locations_barnett_disttravelled:allday",
            "f_screen:phone_screen_rapids_sumdurationunlock:allday",
            "f_screen:phone_screen_rapids_countepisodeunlock:allday",
        ]

training_params:
  verbose: 0
  # whether to save and re-use features repetitively
  #     True only when re-running the exact same model training
  save_and_reload: False
